[submodule "core"]
	path = core
	url = ../vgmcore.git
[submodule "lib/cwalk"]
	path = lib/cwalk
	url = https://github.com/likle/cwalk.git
[submodule "lib/parg"]
	path = lib/parg
	url = https://github.com/jibsen/parg.git
